{{ if .Site.Params.certifications.enable | default false }}
<section id="certifications" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.certifications.title | default "Certifications" }}</h3>
        <div class="row justify-content-center">
            {{ range .Site.Params.certifications.items }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card my-3 h-100">
                    <div class="card-body bg-transparent">
                        <h5 class="card-title">{{ .title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ .issuer }}</h6>
                        <p class="card-text">{{ .content }}</p>
                        {{ if .url }}
                        <a href="{{ .url }}" class="card-link" target="_blank">View Certificate</a>
                        {{ end }}
                        <div class="text-muted"><small>{{ .date }}</small></div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
